<div class="container">

  <a type="button" routerLink="../all-product" routerLinkActive="active"  class="btn btn-primary btn-small pull-left">Go back</a>

  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="text-center text-success">Product Details</h2>
    <hr>
          <div *ngFor="let data of selectedObj; let i=index">
            <h3>{{data.groupName}}</h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th> Product Type</th>
                  <th>Balance</th>
                  <th>Max Limit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of data.productName; let i=index">
                    <td>{{obj.productName }}</td>
                    <td>{{obj.product_type }}</td>
                    <td>{{obj.balance }}</td>
                    <td>{{obj.max_limit  }}</td>

                </tr>
              </tbody>
            </table>

          </div>




    <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1" *ngFor="let pro of selectedRow; let i=index">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href=#{{i}}>
               Other group Product
              </a>
            </h4>

          </div>
          <div [attr.id]="i"  class="panel-collapse collapse in">
            <div class="panel-body" >

            <ul class="list-inline"  *ngFor="let obj of pro.productName; let i=index">
              <li >{{obj.productName}}</li>
              <!-- *ngIf="i==!selectedRow[0].index" -->
            </ul>
            </div>
          </div>
        </div>

      </div>
  </div>


</div>
<!-- {{selectedRow[0].index | json}}

{{selectedObj | json }}

{{selectedRow |json}} -->
<!-- {{this.selectedRow[0].index}} -->
<!-- {{latestIndex}}

{{selectedObj |json}} -->
