<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1" *ngFor="let pro of allProduct; let i=index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href=#{{i}}>
           {{pro.groupName}}
          </a>
        </h4>

      </div>
      <div [attr.id]="i"  class="panel-collapse collapse in">
        <div class="panel-body" >

        <ul class="list-inline"  *ngFor="let obj of pro.productName; let i=index">
          <li > <a routerLink="../pro-details" routerLinkActive="active" (click)="details(event,pro)" >{{obj.productName}}</a> </li>
        </ul>
        </div>
      </div>
    </div>

  </div>
</div>



