/* You can add global styles to this file, and also import other style files */

.navbar{
  background: #ff6200;
}

 .navbar-nav li a{
   color: #ffffff;
  }
  .navbar-brand{
    color: #ffffff;

}

.panel-default > .panel-heading{

  color: #ffffff !important;
      background-color: #ff6200 !important;
      border-color: #ff6200 !important;
}
